<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reference for CSS file -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Reference for casino/dice icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Card Detection</title>
  </head>
  <body>
    <!-- Grid layout -->
    <div id="page-container">
        <div id="content-wrap">

        <!-- Page Header -->    
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-3"  id="section1">Playing Card Detection</h1>
                    <h2>Machine Learning Project</h3>
                    <!-- pseudo-navbar -->
                        <a class="btn btn-outline-dark" href="#section2">
                        <!-- Dice icon -->
                        <i class="material-icons">&#xeb40;</i>Video Camera
                        </a>
                        <a class="btn btn-outline-dark" href="#section3">
                            <!-- Dice icon -->
                            <i class="material-icons">&#xeb40;</i>Flask
                        </a> 
                        <a class="btn btn-outline-dark" href="#section4">
                            <!-- Dice icon -->
                            <i class="material-icons">&#xeb40;</i>MongoDB
                        </a>
                        <a class="btn btn-outline-dark" href="#section5">
                          <!-- Dice icon -->
                          <i class="material-icons">&#xeb40;</i>CV2
                      </a>                            
            </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        <!-- Section for webcam feed display -->
      <div class="container-fluid">
            <!-- ROW -->
            <div class="row">

                <!-- COLUMN -->
                <div class="col">                  
                    <style>
                      #container {
                        margin: 0px auto;
                        width: 100px;
                        height: 375px;
                        border: 1px #333 solid;
                        
                      }
                      #videoElement {
                        width: 900px;
                        height: 600px;
                        background-color: #666;
                        padding-bottom: 20px;
                      }
                    </style> 
                    <!-- <img src="{{ url_for('video_feed') }}"> -->
                    <video autoplay="true" id="videoElement"></video>
                </div>

                
                </div>
     

              <!-- ROW FOR VIDEO CAMERA CODE -->
              <div class="row">

                <!-- COLUMN-->

                <div class="col" id="section2">                  
                  
                    <!-- Text color changes on mouse hover to help audience follow along in presentation-->
                    <div class="card card mdb-color-lighter-hover">
                      <div class="card-body">
                          <h2 class="font-weight-bold">Video Camera</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          <img class="card-img-top img-responsive" src="../static/resource/camera_class.png" alt="webcam">
                      </div>
                    </div>
                  
                      
                </div> 

                </div>


              <!-- ROW FOR FLASK CODE -->
              <div class="row">

                <!-- COLUMN-->

                <div class="col" id="section3">                  
                  
                    <!-- Text color changes on mouse hover to help audience follow along in presentation-->
                    <div class="card card mdb-color-lighter-hover">
                      <div class="card-body">
                          <h2 class="font-weight-bold">Flask</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          <img class="card-img-top img-responsive" src="../static/resource/flask_app.png" alt="flask">
                      </div>
                    </div>
                                        
                </div> 

                </div>
                

                <!-- ROW FOR MONGODB -->
              <div class="row">

                <!-- COLUMN -->

                <div class="col" id="section4">                  
                  
                    <!-- Text color changes on mouse hover to help audience follow along in presentation-->
                    <div class="card card mdb-color-lighter-hover">
                      <div class="card-body">
                          <h2 class="font-weight-bold">MongoDB</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                          <img class="card-img-top img-responsive" src="../static/resource/mongo.png" alt="mongo">
                      </div>
                    </div>
                  <!-- </section>     -->
                      
                </div> 

                </div>

                <!-- ROW FOR CV2 -->
              <div class="row">

                <!-- COLUMN -->

                <div class="col" id="section5">                  
                  
                    <!-- Text color changes on mouse hover to help audience follow along in presentation-->
                    <div class="card card mdb-color-lighter-hover">
                      <div class="card-body">
                          <h2 class="font-weight-bold">CV2</h2>
                          <!-- LINK NOT APPEARING -->
                          <p>Initial card deck repo credit: </p><link href="https://github.com/EdjeElectronics/OpenCV-Playing-Card-Detector" LINK>
                           
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-1">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-2">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-3">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-4">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-5">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-6">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-7">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-8">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-9">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-10">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-11">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-12">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-13">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-14">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-15">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-16">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-17">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-18">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-19">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-20">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-21">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-22">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-23">
                          <img class="card-img-top img-responsive" src="../static/resource/###.png" alt="cv2-24">   
                      </div>
                    </div>
    
                      
                </div> 

                </div>

                <!-- Spacing before footer -->
                <br><br><br>
        
            <!-- Footer section -->
            <footer>
              <!-- Button for returning to header section -->
              <a class="btn btn-outline-dark" href="#section1">
                <i class="material-icons">&#xeb40;</i>Jump to top
              </a>
                <!-- line -->    
                <hr>   
                <p>Group 5: Abraham Ho, Abhishek Bhatt, Julia Sebring, Mikayla Kosmala, and Mike Bryant</p>
            </footer> 

        
        </div>
    </div>
    </div>

    <!-- Webcam script !-->
    <script>

        var video = document.querySelector("#videoElement");
        
        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }
        
        function stop(e) {
          var stream = video.srcObject;
          var tracks = stream.getTracks();
        
          for (var i = 0; i < tracks.length; i++) {
            var track = tracks[i];
            track.stop();
          }
        
          video.srcObject = null;
        }                  
        </script>

  <!-- <img src="{{ url_for('video_feed') }}"> -->
    
    </body>
</html>